USE [master]
GO
/****** Object:  Database [LVTN]    Script Date: 28/04/2022 3:52:29 CH ******/
CREATE DATABASE [LVTN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LVTN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LVTN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LVTN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LVTN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LVTN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LVTN]
GO
/****** Object:  Table [dbo].[BaiDang]    Script Date: 28/04/2022 3:52:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiDang](
	[id_BaiDang] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[id_DanhMuc] [int] NOT NULL,
	[ThanhPho] [nvarchar](50) NULL,
	[Quan_Huyen] [nvarchar](max) NULL,
	[Phuong_Xa] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[Sdt_NguoiBan] [nvarchar](10) NULL,
	[Sdt_NguoiMua] [nvarchar](10) NULL,
	[AnTin] [bit] NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_BaiDang] PRIMARY KEY CLUSTERED 
(
	[id_BaiDang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 28/04/2022 3:52:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[id_DanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[ten_DanhMuc] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[id_DanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnh_BaiDang]    Script Date: 28/04/2022 3:52:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnh_BaiDang](
	[id_HinhAnh] [int] IDENTITY(1,1) NOT NULL,
	[Blob] [nvarchar](max) NOT NULL,
	[id_SanPham] [int] NOT NULL,
 CONSTRAINT [PK_HinhAnh_BaiDang] PRIMARY KEY CLUSTERED 
(
	[id_HinhAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 28/04/2022 3:52:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[SoDienThoai] [nvarchar](10) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[NgayKetThuc_DichVu] [datetime] NULL,
	[Loai_DichVu] [tinyint] NULL,
	[So_CMND] [nchar](12) NULL,
	[Hinh_CMND] [nvarchar](max) NULL,
	[MSDK_DoanhNghiep] [nchar](20) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuocTinh_DanhMuc]    Script Date: 28/04/2022 3:52:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuocTinh_DanhMuc](
	[id_ThuocTinh] [int] NOT NULL,
	[ten_ThuocTinh] [nvarchar](max) NOT NULL,
	[id_DanhMuc] [int] NOT NULL,
 CONSTRAINT [PK_ThuocTinh_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[id_ThuocTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
